@charset "uft-8";
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgb(212, 212, 212);
}
.header a {
  display: block;
  width: 20%;
  min-width: 170px;
}
.header img {
  width: 100%;
  padding: 10px;
}
/* 상단 */
.menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  list-style: none;
}
.header .menu .header .menu ul li {
  padding: 5px 10px;
}
.login {
  width: 20%;
  display: flex;
  gap: 10px;
  padding: 0px 10px;
}
/* 배너 슬라이드 */
.sw-promotion {
  width: 100%;
}
.swiper-slide {
  width: 100%;
}
.swiper-slide a img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* 브랜드 */
.brand {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px;
  background-color: rgb(247, 225, 255);
  display: block;
}
.brand img {
  margin: 10px;
  width: 150px;
  height: 150px;
  left: 50%;
  right: 50%;
}
/* 메뉴 */
.section {
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
}
.section a {
  width: 100%;
}
.section a img {
  height: 100%;
  left: 50%;
  right: 50%;
}
/* 공지사항 */
.notice {
  width: 100%;
  height: 100%;
  background-color: rgb(211, 211, 211);
  text-align: center;
  display: block;
  padding: 20px;
}
.box {
  text-align: center;
  background-color: #eee;
  border: 1px solid #eee;
  width: 150px;
  height: 150px;
  margin: 10px 10px;
  display: inline-flex;
}
/* 수상메달 */
.img-box {
  display: flex;
  width: 100%;
  height: 100%;
  translate: (-50%, -50%);
}
.img-box img {
  width: 50%;
  height: 50%;
}
/* map*/
.map {
  width: 100%;
  height: 100%;
  background-color: rgb(44, 51, 49);
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
}
/* map 이미지 */
.map-left {
  width: 20%;
  height: 100%;
  background-color: darkgreen;
  padding: 20px;
}
.map-left img {
  width: 100%;
  height: 100%;
  padding: 10px;
}
/* map 중간 */
.map-center {
  width: 55%;
  height: 100%;
  margin-left: 15px;
  background-color: coral;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mc-up {
  display: flex;
}
.mc-up p{
  padding: 10px;
}
.mc-bt {
  font-size: 13px;
}
.ft-br {
  display: none;
}
/* map 오른쪽 */
.map-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: darkgray;
}
.map-right img {
  width: 50px;
  height: 50px;
  float: left;
}
.map-right .number {
  margin-top: 50px;
}
.map .map-right p {
  text-align: center;
  margin-bottom: 10px;
}
