@charset "uft-8";
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("responsive.css");

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}
/* 공통 */
.wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
/* li , p , span {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: large;
} */
/* 헤더 */
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
}
.header a {
  display: block;
  width: 20%;
  min-width: 100px;
  /* min-width: 170px; */
}
.header a img {
  width: 100%;
  padding: 10px;
}
/* 상단 */
.menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  list-style: none;
}
.header .menu .header .menu ul li {
  padding: 5px 10px;
}
.login {
  width: 10%;
  display: flex;
  gap: 10px;
  padding: 0px 3px;
}
/* 배너 슬라이드 */
.sw-promotion {
  width: 100%;
}
.sw-promotion .swiper-slide {
  width: 100%;
}
.sw-promotion .swiper-slide a{
  width: 100%;
}
.sw-promotion .swiper-slide a img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.sw-promotion-mobile{
  display: none;
}
/* 브랜드 */
.brand {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px;
  background-color: rgb(255, 216, 216);
  display: block;
}
.brand p {
  padding: 10px;
}
.brand img {
  margin: 10px;
  width: 300px;
  height: 300px;
  left: 50%;
  right: 50%;
}
.brand a img {
  width: 100%;
  height: 100%;
}
/* 메뉴 */
.section {
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
}
.section .section-right img {
  height: 100%;
  width: 100%;
}
.section-left p {
  padding: 15px;
}
.b-top {
  font-size: 40px;
}
/* 공지사항 */
.notice {
  width: 100%;
  height: 100%;
  background-color: rgb(211, 211, 211);
  text-align: center;
  display: block;
  padding: 30px;
}
.box {
  text-align: center;
  background-color: #eee;
  border: 1px solid #eee;
  width: 150px;
  height: 150px;
  margin: 20px 10px;
  display: inline-flex;
  padding: 15px;
}

/* 수상메달 */
.sw-medal{
  padding: 20px;
}
.sw-medal .swiper-wrapper .swiper-slide a{
  width: 100%;
  display: block;
  background-color: azure;
}
.sw-medal .swiper-wrapper .swiper-slide a img {
  width: 100%;
  display: block;
}
/* map*/
.map {
  width: 100%;
  height: 100%;
  background-color: rgb(105, 107, 107);
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
}
/* map 이미지 */
.map-left {
  width: 20%;
  height: 100%;
  padding: 20px;
}
.map-left img {
  width: 100%;
  height: 100%;
  padding: 10px;
}
/* map 중간 */
.map-center {
  width: 55%;
  height: 100%;
  margin-left: 15px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mc-up {
  display: flex;
}
.mc-up p {
  padding: 10px;
}
.mc-bt {
  font-size: 13px;
}
.ft-br {
  display: none;
}
/* map 오른쪽 */
.map-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 20%;
  height: 100%;
  color: #fff;
}
.tel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.map-right img {
  width: 50px;
  height: 50px;
  float: left;
}
.map-right .number {
  margin-top: 50px;
}
.map .map-right p {
  text-align: center;
  margin-bottom: 10px;
}
.icon {
  display: flex;
}
