@charset "uft-8";
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgb(212, 212, 212);
}
.header a {
  display: block;
  width: 20%;
  min-width: 170px;
}
.header img {
  width: 100%;
  padding: 10px;
}
/* 상단 */
.menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  list-style: none;
}
.header .menu .header .menu ul li {
  padding: 5px 10px;
}
.login {
  width: 20%;
  display: flex;
  gap: 10px;
  padding: 0px 10px;
}
/* 배너 슬라이드 */
.sw-promotion {
  width: 100%;
}
.swiper-slide {
  width: 100%;
}
.swiper-slide a img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* 브랜드 */
.brand {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px ;
  background-color: rgb(247, 225, 255);
  display: block;
}
.brand img {
  margin: 10px;
  width: 150px;
  height: 150px;
  left: 50%;
  right: 50%;
}
/* 메뉴 */
.section {
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
}
.section a {
  width: 100%;
}
.section a img {
  height: 100%;
  left: 50%;
  right: 50%;
}
/* 공지사항 */
.notice{
  width: 100%;
  height: 100%;
  background-color: darkgoldenrod;
  text-align: center;
  display: block;
  padding: 20px;
}
.box{
  text-align: center;
  background-color: #eee;
  border: 1px solid #eee;
  width: 150px;
  height: 150px;
  margin: 10px 10px;
  display: inline-flex;
}
/* 수상메달 */
.img-box{
  display: flex;
  width: 100%;
  height: 100%;
  translate: (-50% , -50%);
}
.img-box img{
  width: 50%;
  height: 50%;
}